<div class="p-4">
  <h1>Disciplinas</h1>

  <table class="mt-4 table table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Quantidade Alunos</th>
        <th>Quantidade Máxima</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i=0; i< listaSeries.length; i ++) { %>
        <tr>
          <td>
            <%= listaSeries[i].serie_nome %>
          </td>
          <td>
            <%= listaSeries[i].serie_quantidadeALU %>
          </td>
          <td>
            <%= listaSeries[i].serie_quantMAX %>
          </td>
        </tr>
        <%} %>
    </tbody>
  </table>
</div>