<div class="p-4">
  <h1>Alunos</h1>

  <table class="mt-4 table table-striped">
      <button style="background-color: brown; color: white;" id="cadastrar">Cadastrar Aluno</button>
    <thead>
      <tr>
        <th>RA</th>
        <th>Nome</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i< listaAlunos.length; i ++) { %>
      <tr>
        <td><%= listaAlunos[i].aluno_RA %></td>
        <td><%= listaAlunos[i].aluno_nome %></td>
        <td><%= listaAlunos[i].aluno_email %></td>
      </tr>
      <%} %>
    </tbody>
  </table>
</div>

<script>

  document.addEventListener('DOMContentLoaded', function () {
  document.getElementById('cadastrar').addEventListener('click', function () {
    window.location.href = 'professor/cadastroAluno';
  });
});

</script>